body {
    font-size: 25px;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

  button {
      background-color: black;
      color: white;
  }

  table {
    margin-left:auto; 
    margin-right:auto;
    border: 3px solid black;
    align-content: center;
    width: 50%;
    
  }

  .eventListRow {
    border: 3px solid black;
  }
